  <div id="modal-content">
    <img class="modalimg" src="{{item.imageuri}}" alt="{{item.name}}">
    <h3 id="result">
      {% if item %}
        {{item.name}} - {{item.price}}
      {% else %}
        Item not found!
      {% endif %}
    </h3>
    {% if user_name %}
    <button class="button" type="button" onclick="javascript:openEditItem({{company_id}},{{item.id}})">Edit</button>
    <button class="button" type="button" onclick="openDeleteItem({{company_id}},{{item.id}})">Delete</button>
    {% endif %} 
  </div>